.main1{
    height:400px;
    border:2px solid;
    margin:10px;
}
.main2{
    height:430px;
    border:2px solid;
    margin:10px;
}
h1{
    text-align:center;
}
.child1,.child2,.child3{
    height:40px;
    border:2px solid;
    background-color: azure;
    margin:10px;
}
.child1>div{
    width:25%;
    background-color: green;
    text-align: center;
    font-size: 25px;
    height:40px;
}
.child2>div{
    width:50%;
    background-color: orange;
    text-align: center;
    font-size: 25px;
    height:40px;
}
.child3>div{
    width:75%;
    background-color: red;
    text-align: center;
    font-size: 25px;
    height:40px;
}
.c1,.c2,.c3,.c4{
    height:40px;
    border:2px solid;
    background-color: azure;
    margin:10px;
    border-radius: 20px;
}
.c1>div{
    width:90%;
    background-color: green;
    text-align: center;
    font-size: 25px;
    height:40px;
    border-radius: 20px;
    color:white;
}
.c2>div{
    width:80%;
    background-color: green;
    text-align: center;
    font-size: 25px;
    height:40px;
    border-radius: 20px;
    color:white;
}
.c3>div{
    width:75%;
    background-color: green;
    text-align: center;
    font-size: 25px;
    height:40px;
    border-radius: 20px;
    color:white;
}
.c4>div{
    width:50%;
    background-color: green;
    text-align: center;
    font-size: 25px;
    height:40px;
    border-radius: 20px;
    color:white;
}